.test1
    width: 100%

input, textarea
    border-radius: 3px
    border: 1px solid #ccc
    width: 100%

.prod-input
    margin: 1rem
    
    

.prod-input label
    margin: -1rem

.newProd .prod-form .test1 #ProdName input
    width: 400px!important

@media (min-width: 768px)
    .container-fluid
       margin-top: 80px