$break-medium: 767px 

.priceLine
  width: 100%
  flex-wrap: nowrap !important

.priceLine .form-input
  width: 60px
  margin-right: 40px

.priceElement .row
  flex-wrap: nowrap !important


.extra-alternative
  margin-top: 3rem 
  width: 100%

.price-btns
  padding-left: 2%
  
#priceButtons .size-amount
  margin: 2px
  border-radius: 12px
  width: 25px
  line-hight: 0.8rem
  
  


