.image-container
    width: 100%
<<<<<<< HEAD
    height: 100vh
    background-image: url("/LandingPage_Mainimg.jpeg")
    display: flex
    flex-direction: column
    align-items: center
=======
    height: 90vh
    margin-top: -40px
    background-image: URL("https://www.calfac.org/sites/main/files/imagecache/lightbox/main-images/coffee-wallpaper-1306-1433-hd-wallpapers.jpg")
>>>>>>> master
    background-repeat: no-repeat
    background-size: cover
    background-position: center 
    justify-content: cover
    font-family: 'Open Sans'
    font-size: 1.4rem
    padding-top: 7%

.rowBottomHeight                                    
    margin-top: 48vh

.features
    width: 100%
    height: 600px
    background-image: url("/Rainy-Coffee.jpeg")
    display: flex
    flex-direction: column
    align-items: center
    background-repeat: no-repeat
    background-size: cover
    background-position: center 
    justify-content: cover
    opacity: 70%
    padding: 10%

.featurebox 
    padding: 5%
    text-align: center
    height: 100%
    width: 100%
    background: #ffffff
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset

.artikkel-container
    padding: 4% 20%
    width: 100%
    height: 660px
    background-color: #caccc1
    display: flex
    flex-direction: column
    align-items: center
    background-repeat: no-repeat
    background-size: cover
    background-position: center 
    justify-content: cover

.artikkel-box
    padding: 10%
    height: 275px
    width: 350px
    background: #ffffff
    background-repeat: no-repeat
    background-size: cover
    background-position: center 
    align-items: center
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset
    text-align: center

.artikkel-img
    height: 275px
    width: 480px
    background-image: url("/Kaffe-Trakter.jpeg")
    flex-direction: column
    align-items: center
    background-repeat: no-repeat
    background-size: cover
    background-position: center 
    justify-content: cover
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset

