
.top-navbar
  position: relative
  height: 50px !important
  background-color: black !important
  font-family: Gill Sans, serif
  font-size: 14px

.navbar-brand
  cursor: pointer
  color: white !important

.links
  color: white !important
  &:hover
    color: $light-blue !important
    border: none !important
    bottom: 3px !important
    position: relative

.new
  color: white !important

// Bestemmer avstanden mellom linkene
a
  margin-right: 1.2rem

.nav-link:hover
  border-bottom: 1px outset black


.register-btn
  border: 1px solid white !important
  color: white !important
  &:hover
    background-color: white
    border: 1px solid black !important
    color: black !important
