.product-card
  height: 23rem
  width: 100%
  margin-bottom: 2rem
  border-radius: 0 !important
  cursor: pointer
  &:hover
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.12)
    border: none

.card-image
  margin: auto
  max-height: 50%
  max-width: 100% !important
  object-fit: contain

.card-body
  max-height: 50%

.product-title
  font-size: 18px !important

.vendor
  font-size: 12px !important
  padding-bottom: 0.8rem
  border-bottom: 0.5px solid lightgrey

.price
  font-size: 14px !important
  padding-bottom: 2px

.short-description
  font-size: 10px !important


// ANIMATION KEYFRAMES
/* Safari 4.0 - 8.0 */
@-webkit-keyframes highlight
  0%
    top: 10%
  100%
    top: 7%

/* Standard syntax */
@keyframes highlight
  0%
    top: 10%
  100%
    top: 7%


// REVERT ANIMATION
@-webkit-keyframes highlight-revert
  0%
    top: 7%
  100%
    top: 10%

/* Standard syntax */
@keyframes highlight-revert
  0%
    top: 7%
  100%
    top: 10%
