.sign-in-container
  margin-top: 40px

.log-in-title
  text-align: center
  margin-top: 2em

.log-in-btn
  display: block
  margin: auto 

.log-in-cont
  margin-top: 2em


.log-in-form
  display: block
  margin: auto
  width: 300px
  margin-top: 8%
  margin-bottom: 4%
  input   
    border-radius: 3px
    border: solid 1px lightgrey 
    width: 100%
    line-height: 2.1rem !important

.div-form-input   
  margin-bottom: 0.5rem

.reg-form
  display: block
  margin: auto
  width: 300px
  margin-top: 4%
  input   
    border-radius: 3px
    border: solid 1px lightgrey 
    width: 300px
    line-height: 2.1rem !important
    margin-left: 15px
    

.reg-btn
    background-color: white
    color: rgb(60, 60, 60)
    border: solid 1px lightgrey
    font-weight: bold
    border-radius: 8px
    display: block
    margin: auto
    height: 3rem
    width: 12rem
    margin-top: 2em
    margin-bottom: 2em

.reg-btn:hover
  background-color: #BF874C
  color: white

.link-to-reg
  color: rgb(60, 60, 60) 
  text-align: center   